@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: #2ecc71;
    font-size: 25px;
    padding: 10px 10px;
    text-align: center;
    color: white;
    width: 100%;
}

#logo{
    cursor: pointer;
}

.search-box-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.search-box {
    width: 35%;
    display: flex;
    border: solid 2px #27ae60;
    align-items: center;
    justify-content: center;
}

#user-input{
    padding: 5px 25px;
    width: 100%;
    border: none;
}

#user-input:focus{
    outline: none;
}

.search-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.movie-container{
    background-color: #ecf0f1;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.movie-card{
    width: 250px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.movie-card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.movie-card:hover {
    transform: scale(1.05);
}

.searched-movie-container{
    display: flex;
    background-color: #ecf0f1;
    width: 100%;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.searched-movie-container .movie-card{
    width: 300px;
}

.searched-movie-container .movie-card p{
    padding: 4px;
}

@media (max-width:600px){
    .movie-container{
        flex-direction: column;
        align-items: center;
    }

    .search-box{
        width: 70%;
    }

    .searched-movie-container{
        flex-direction: column;
        align-items: center;
    }

}
